/*
** main_window
*/

paned.sidebar_paned {
    background-color: mix(@theme_base_color, @theme_bg_color, 0.5);
}
button.new-document-menu-button {
    padding-left: 8px;
    padding-right: 8px;
}

/*
** document view
*/

box.autocomplete {
    padding: 0px;
}
box.autocomplete scrollbar.right slider {
    min-height: 12px;
}
box.autocomplete list {
    background-color: #fff895;
    border-radius: 1px;
}
box.autocomplete list row {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 1px;
}
box.autocomplete list row:selected {
    background: mix(@borders, @theme_bg_color, 0.5);
    background: #f8e45c;
}
box.autocomplete list row:not(:selected) {
    background-color: @theme_bg_color;
    background-color: #fff895;
}
box.autocomplete list label {
    color: #000;
}
box.autocomplete label.infobox {
    border-top: 1px dotted mix(#f9f4af, #000, 0.2);
    border-radius: 1px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 13px;
    color: #000;
    background-color: #fff895;
}

/*
** welcome-screen
*/

box.welcome {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
label.welcome-header {
    font-size: 32pt;
    padding-bottom: 18px;
    font-weight: 200;
}
label.welcome-description {
}

/*
** open documents
*/

popover.documentchooser > box {
    margin: 9px;
}
popover.documentchooser entry {
    margin-bottom: 6px;
}
popover.documentchooser scrolledwindow {
    margin-bottom: 12px;
}
popover.documentchooser list row {
}
popover.documentchooser list row label {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: 5px;
}
popover.documentchooser list row label.folder {
    margin-top: 5px;
    font-size: 9pt;
    opacity: 0.5;
}
popover.documentchooser box.not_found {
    margin-bottom: 12px;
}
popover.documentchooser box.not_found image {
    opacity: 0.5;
}
popover.documentchooser box.not_found label {
    opacity: 0.65;
}

/* 
** tab switching
*/

.open-docs-popover-button {
    padding: 0px 10px;
    padding-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 22px;
    border-radius: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
    transition: none;
}
.open-docs-popover-button:hover:not(:active) {
    background: none;
    text-shadow: none;
}
.open-docs-popover,
.open-docs-popover list,
.open-docs-popover row:not(:hover):not(:selected) {
    background-color: @theme_bg_color;
}
.open-docs-popover scrollbar slider {
    min-height: 12px;
}
.open-docs-popover .frame {
    border-width: 0px;
    outline: none;
}
.open-docs-popover row {
    border-radius: 4px;
    padding: 2px 1px 2px 4px;
    color: @theme_fg_color;
}
.open-docs-popover list {
    padding: 0px;
    margin: 0px;
}
.open-docs-popover list button {
    padding: 0px 0px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    opacity: 0.5;
    border-style: none;
    border-width: 0px;
    box-shadow: none;
    outline: none;
}
.open-docs-popover list button:hover:not(:backdrop) {
    background-image: none;
    opacity: 1;
    border-style: none;
    border-width: 0px;
}
popover label.explaination {
    margin-left: 5px;
    margin-right: 5px;
    color: mix(@theme_fg_color, @theme_bg_color, 0.3);
    font-size: 13px;
}
.open-docs-popover label.root-label {
    opacity: 0.3;
}
popover label.explaination-header {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
button.like-model {
    border-width: 0px;
    box-shadow: none;
    padding: 1px 5px 1px 5px;
    margin: 0px;
    background: transparent;
    outline: none;
}
button.like-model:hover {
    background: @theme_base_color;
    transition: none;
}
.open-docs-popover list .icon {
    padding-top: 3px;
    padding-bottom: 3px;
}
.open-docs-popover list.selection-mode .radio-hover {
    padding-top: 3px;
    padding-bottom: 3px;
    opacity: 0;
}
.open-docs-popover list.selection-mode row:hover .radio-hover {
    opacity: 1;
}

/*
** build widget
*/

box.build-widget button {
    margin-left: 6px;
}
box.build-widget label.build-timer {
    padding: 6px 12px;
    border: 0px solid @borders;
    border-right-width: 0px;
}

/*
** build log
*/

box.buildlog > box {
    background: @theme_base_color;
}
box.buildlog > box label {
    padding-left: 12px;
}
box.buildlog > box button {
    margin: 6px;
}

/*
** sidebar
*/

.sidebar {
    background-color: @theme_base_color;
}
.sidebar toolbar {
    padding: 0px;
    margin: 0px;
    background-color: @theme_base_color;
}
.sidebar toolbar toolbutton {
    padding: 0px;
    margin: 0px;
}
.sidebar toolbar button {
    margin: 0px;
    padding: 6px;
    border-width: 0px;
    border-radius: 0px;
    box-shadow: none;
}
.sidebar toolbar button:checked {
    background: mix(@theme_base_color, @borders, 0.45);
}
.sidebar toolbar button:active {
    background: mix(@theme_base_color, @borders, 0.45);
}
.sidebar box.tabs-box {
    background-color: @theme_base_color;
    border-bottom: 1px solid mix(@theme_base_color, @borders, 0.5);
    padding-bottom: 0px;
}
.sidebar box.tabs-box.no-border {
    border-bottom-width: 0px;
    padding-bottom: 1px;
}
.sidebar box.tabs-box > label {
    padding: 9px 8px 8px 9px;
    background-color: @theme_base_color;
}
box.sidebar-symbols {
    background-color: mix(@theme_base_color, @theme_bg_color, 0.7);
}
box.sidebar-symbols label {
    padding: 9px 8px 8px 9px;
    background-color: @theme_base_color;
    border-bottom: 1px solid mix(@theme_base_color, @borders, 0.5);
}
box.sidebar-symbols label.overlay {
    border-bottom-width: 0px;
}
box.sidebar-symbols flowbox {
    background-color: mix(@theme_base_color, @theme_bg_color, 0.7);
    padding-bottom: 36px;
    border-bottom: 1px solid mix(@theme_base_color, @borders, 0.5);
}
box.sidebar-symbols flowbox flowboxchild {
    padding: 0px;
}
box.sidebar-symbols flowbox flowboxchild image {
    color: @theme_fg_color;
    background-color: mix(@theme_base_color, @theme_bg_color, 0.7);
    border-bottom: 1px solid mix(@theme_base_color, @borders, 0.5);
    border-right: 1px solid mix(@theme_base_color, @borders, 0.5);
    margin: 0px;
    padding: 5px;
}
box.sidebar-symbols flowbox flowboxchild image.no_right_border {
    border-right: 1px solid mix(@theme_base_color, @theme_bg_color, 0.7);
}
box.sidebar-symbols box.search_bar {
    padding-left: 6px;
    padding-right: 6px;
}
box.sidebar-symbols box.search_bar button {
    margin-left: 6px;
}
.sidebar-document-structure scrolledwindow label.headline {
    padding: 9px 8px 8px 9px;
    background-color: @theme_base_color;
    border-bottom: 1px solid mix(@theme_base_color, @borders, 0.5);
}
.sidebar-document-structure label.overlay {
    padding: 9px 8px 8px 9px;
    background-color: @theme_base_color;
}
box.document-stats .description {
    color: mix(@theme_fg_color, @theme_bg_color, 0.3);
    font-size: 13px;
    padding: 9px 8px 8px 9px;
}
box.document-stats box {
    padding: 3px 8px 3px 9px;
}
box.document-stats label.stats-paragraph {
    padding: 3px 8px 3px 9px;
}
box.document-stats {
    margin-bottom: 24px;
}

/*
** shortcuts bar
*/

box.shortcutsbar {
    background-color: @theme_base_color;
    border-bottom: 1px solid mix(@theme_base_color, @borders, 0.5);
}
box.shortcutsbar toolbar {
    padding: 0px;
    margin: 0px;
    background-color: @theme_base_color;
}
box.shortcutsbar toolbar toolbutton {
    padding: 0px;
    margin: 0px;
}
box.shortcutsbar toolbar button {
    margin: 0px;
    padding: 6px;
    border-width: 0px;
    border-radius: 0px;
    box-shadow: none;
}
box.shortcutsbar toolbar button label {
    text-decoration: underline;
}
box.shortcutsbar toolbar button:checked {
    background: mix(@theme_base_color, @borders, 0.45);
}
box.shortcutsbar toolbar button:active {
    background: mix(@theme_base_color, @borders, 0.45);
}
popover.menu-own-quotes-symbolic {
    margin-left: 0px;
}
popover label.keyboard-shortcut {
    color: mix(@theme_base_color, @theme_fg_color, 0.6);
    margin-left: 18px;
}

/*
** preview
*/

box.preview scrolledwindow {
    background-color: #fff;
}
box.preview > box {
    background-color: @theme_base_color;
    border-bottom: 1px solid mix(@theme_base_color, @borders, 0.5);
}
box.preview > box button {
    border-width: 0px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    padding: 6px;
}
box.preview > box button:checked {
    background: mix(@theme_base_color, @borders, 0.45);
}
box.preview > box button:active {
    background: mix(@theme_base_color, @borders, 0.45);
}
box.preview > box button.zoom_level_button {
    padding: 6px 5px;
}
box.preview > box button.zoom_level_button label {
    padding: 1px 4px;
    background: @theme_base_color;
    border: 1px solid @borders;
    border-radius: 3px;
}
box.preview_blank {
    background-color: @theme_bg_color;
    background-color: mix(@theme_base_color, @theme_bg_color, 0.5);
}
box.preview_blank image {
    opacity: 0.5;
    margin-bottom: 5px;
}
box.preview_blank label.header {
    opacity: 0.5;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
box.preview_blank label.body {
    opacity: 0.65;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 55px;
}
paned > paned.hidden-separator separator {
    padding: 0px;
}
paned > paned.visible-separator separator {
    padding: 4px;
}

/*
** help
*/

box.help {
    background-color: @theme_base_color;
}
box.help > box {
    background-color: @theme_base_color;
    border-bottom: 1px solid mix(@theme_base_color, @borders, 0.5);
}
box.help > box button {
    border-width: 0px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    padding: 6px;
}
box.help > box button label {
    text-decoration: underline;
}
box.help > box button:checked {
    background: mix(@theme_base_color, @borders, 0.45);
}
box.help > box button:active {
    background: mix(@theme_base_color, @borders, 0.45);
}
label.location-label {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 9pt;
    color: mix(@theme_base_color, @theme_fg_color, 0.6);
}

/*
** search bar
*/

box.search_bar {
    background-color: @theme_base_color;
    border-top: 1px solid @borders;
    padding: 6px;
    padding-left: 0px;
}
box.search_bar button.close {
    background: @theme_base_color;
    border-width: 0px
}
box.search_bar button.text-button {
    padding-left: 11px;
    padding-right: 11px;
}
box.search_bar entry.search_entry {
}
box.search_bar label.search_match_counter {
}

/*
** preferences
*/

box.preferences-page checkbutton check {
    margin-left: 1px;
    margin-right: 6px;
}
box.preferences-page radiobutton radio {
    margin-left: 1px;
    margin-right: 6px;
}
box.preferences-page checkbutton {
}
box.preferences-page .description {
    color: mix(@theme_fg_color, @theme_bg_color, 0.3);
    font-size: 13px;
}
box.preferences-page .preview {
    border: 1px solid @borders;
}
box.preferences-page .preview.light-bg textview text {
    background: #fff;
}
box.preferences-page .preview.dark-bg textview text {
    background: #2d2d2d;
}
box.preferences-page button.style-switcher-label {
    padding: 0px;
    margin: 0px;
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
}
box.preferences-page button.style-switcher-label label {
    padding: 0px;
    margin: 0px;
    color: @theme_selected_bg_color;
    text-decoration: underline;
}
box.preferences-page button.style-switcher-label.active label {
    font-weight: bold;
    color: @theme_fg_color;
    text-decoration: none;
}

/*
** document wizard
*/

box.document-wizard-page checkbutton {
    margin-bottom: 6px;
}
box.document-wizard-page checkbutton.has-desc {
    margin-bottom: 2px;
}
box.document-wizard-page checkbutton check {
    margin-left: 1px;
    margin-right: 6px;
}
list.document-wizard-list1 {
    border: 1px solid @borders;
}
list.document-wizard-list1 row {
    border-bottom: 1px solid mix(@borders, @theme_base_color, 0.68);
    padding: 6px;
}
list.document-wizard-list2 row {
    border-bottom: 1px solid mix(@borders, @theme_base_color, 0.68);
    padding: 6px;
}
label.document-wizard-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
}
label.document-wizard-subheader {
    font-weight: bold;
    margin-bottom: 6px;
    padding-top: 6px;
}
label.document-wizard-option-desc {
    color: mix(@theme_fg_color, @theme_bg_color, 0.3);
    font-size: 13px;
    margin-left: 26px;
    margin-bottom: 6px;
}
label.document-wizard-desc {
    color: mix(@theme_fg_color, @theme_bg_color, 0.3);
}
scrolledwindow.document-wizard-scrolledwindow {
    border: 1px solid @borders;
}
box.document-wizard-beamer-preview-stack-wrapper {
    border: 1px solid @borders;
}
box.document-wizard-beamer-preview-buttons button {
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    border-width: 0px;
    outline-width: 0px;
    text-shadow: none;
}
box.document-wizard-beamer-preview-buttons image {
    border: 1px solid @borders;
}
box.document-wizard-page box.margins-box {
    border: 1px solid @borders;
    background-color: @theme_base_color;
}
box.document-wizard-page box.margins-box spinbutton.left {
    border-left: 0px;
}
box.document-wizard-page box.margins-box spinbutton.right {
    border-right: 0px;
}
box.document-wizard-page box.margins-box spinbutton.top {
    border-top: 0px;
}
box.document-wizard-page box.margins-box spinbutton.bottom {
    border-bottom: 0px;
}


/* Add / Remove Packages */

box.add-remove-packages-add-box {
    padding: 18px;
    border-bottom: 1px dotted @borders;
}
box.add-remove-packages-add-box scrolledwindow {
    border: 1px solid @borders;
}
box.add-remove-packages-add-box list row {
    border-bottom: 1px solid mix(@borders, @theme_base_color, 0.68);
    padding: 6px;
}
box.add-remove-packages-remove-box scrolledwindow {
    border: 1px solid @borders;
}
box.add-remove-packages-remove-box list row {
    border-bottom: 1px solid mix(@borders, @theme_base_color, 0.68);
    padding: 6px;
}

/* BibTeX */

.include-bibtex-file-dialog .stack-wrapper {
    border: 1px solid @borders;
}
.include-bibtex-file-dialog button {
    outline-width: 0px;
}
.include-bibtex-file-dialog checkbutton check {
    margin-left: 1px;
    margin-right: 6px;
}
.bibtex-wizard-list1 {
    border: 1px solid @borders;
}
.bibtex-wizard-list1 row {
    border-bottom: 1px solid mix(@borders, @theme_base_color, 0.68);
    padding: 6px;
}
box.bibtex-wizard-page checkbutton check {
    margin-left: 1px;
    margin-right: 6px;
}
label.bibtex-wizard-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
}


